# /etc/systemd/system/geo-update.timer
[Unit]
Description=Update database monthly - Geolocation for nftables
Documentation=https://github.com/wirefalls/geo-nft/wiki

[Timer]
# Set update time to midnight on the second day of each month.
OnCalendar=*-*-02 00:00:00
RandomizedDelaySec=300
Persistent=true
 
[Install]
WantedBy=timers.target
