# /etc/systemd/system/geoip-update.service
[Unit]
Description=Update database - GeoIP for nftables
Documentation=https://github.com/wirefalls/geoip/wiki
Wants=network-online.target time-sync.target
After=network-online.target time-sync.target

[Service]
Type=oneshot
StandardError=journal
ExecStart=/usr/sbin/geoip-nft -s
